body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    color: #09338f;
    background-color: #f5f5f7;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    padding: 100px 0;
    text-align: center;
    border-bottom: 1px solid #e1e1e1;
}

article {
    max-width: 700px;
    margin: 40px auto;
    padding: 10px 20px;
    line-height: 1.6;
}

h1, h2, h3 {
    font-weight: 800;
    color: #1d1d1f;
}

p {
    font-size: 18px;
    color: #515154;
}

hr {
    border: 0;
    border-top: 1px solid #e1e1e1;
    margin: 20px 0;
}

.shadow-box {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #ded8d8;
    padding: 20px;
    border-radius: 10px;
}

ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}

footer {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #d1d0d0;
}

/* Responsive adjustments for screens smaller than 768px (mobile devices) */
@media (max-width: 768px) {
    article {
        padding: 0 15px;
    }

    h1 {
        font-size: 24px; /* Smaller heading size for mobile */
    }

    p {
        font-size: 16px; /* Smaller paragraph text for mobile */
    }

    .shadow-box {
        padding: 15px; /* Adjust shadow box padding for mobile */
    }

    header {
        padding: 50px 0; /* Adjust header padding for mobile */
    }

    footer {
        padding: 15px 0; /* Adjust footer padding for mobile */
    }

    .intro-image {
        max-width: 100%; /* Ensures the image scales within its container */
        margin: 10px 0; /* Centers the image with margin above and below */
        float: none; /* Removes float on smaller screens */
        margin-left: 0; /* Resets margins */
        margin-right: 0;
    }
}

/* Image styling */
.intro-image {
    max-width: 110%; /* Ensures the image scales within its container */
    height: auto; /* Maintains the aspect ratio */
    float: left; /* Floats the image to the left of the text */
    margin-right: 10px; /* Adds space between the image and the text */
    margin-left: -5px; /* Adds space between the image and the left edge of the container */
    margin-bottom: 10px; /* Adds space below the image */
    border-radius: 8px; /* Adds rounded corners to the image */
}
